.productCard-container {
  background-color: white;
  padding: 10px;
  border: solid black 1px;
}
.product-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 350px;
  position: relative;
  border: solid black 1px;
}

img {
  width: 100%;
  height: 95%;
  object-fit: cover;
  margin-bottom: 5px;
}

#product-name {
  color: gray;
  margin: 2px;
}

#product-price {
  font-weight: 600;
  font-size: medium;
  margin: 2px;
}
