footer {
  color: white;
  background-color: #111827;
  width: 100%;
  height: 85px;
  display: flex;
  flex: 0 0 auto;
  padding: 15px 50px;
  justify-content: space-between;
  align-items: center;
}

.social-media {
  font-size: large;
}
